/*Estanque feliz*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Crafty+Girls&display=swap");

:root {
    --blanco: #ffffff;
    --rosita: #FDD3CC;
    --amarillo: #F5E082;
    --aquamarina: #BAFFDF;
    --esmeralda: #6EC188;
    --viridian: #2A7F62;
    --negro: #252525;
}

* {
    transition: all .2s;
}

body {
    font-size: 62,5%;
    background-color: var(--aquamarina);
    box-sizing: border-box;
}

main {
    background-color: var(--esmeralda);
    width: 100rem;
    height: max-content;
    margin: auto;
    padding: 1%;
    padding-bottom: 40rem;
    padding-top: .1%;
    border-radius: 2rem;
}

header{
    font-size: 5rem;
    text-align: center;
    font-family: crafty girls, cursive;
    color: var(--bl);
    background-color: #F5E082;
    width: 80rem;
    padding: 1%;
    margin: auto;
    margin-top: 4rem;
    border-radius: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1rem auto;
    gap: 1rem;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--negro);
    font-family: Comfortaa;
    background-color: var(--amarillo);
    border-radius: 2rem;
    margin: 0 auto;
    width: 100%;
    padding: 2%;
    text-align: center;
}

nav a:hover{
    background-color: var(--rosita);
}

nav a, span, .material-symbols-outlined, .bi.bi-water {
    align-content: center;
    align-items: center;
}

.bi.bi-water{
    font-size: 1.5rem;
}
nav a .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  font-size: 1.5rem;
}

nav a:hover .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1;
}

#ranitas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5%;
}

#ranitas img {
    border-radius: 10rem;
}

@media (max-width: 320px) {
    
}