/*Estanque feliz*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Crafty+Girls&display=swap");

:root {
    --blanco: #ffffff;
    --rosita: #FDD3CC;
    --amarillo: #F5E082;
    --aquamarina: #BAFFDF;
    --esmeralda: #6EC188;
    --viridian: #145e45;
    --negro: #252525;
}

* {
    transition: all .2s;
}

body {
    font-size: 62,5%;
    background-color: var(--aquamarina);
    box-sizing: border-box;
}

main {
    background-color: var(--esmeralda);
    width: 100rem;
    height: max-content;
    margin: auto;
    padding: 1%;
    padding-top: .1%;
    border-radius: 2rem;
}

header{
    font-size: 5rem;
    text-align: center;
    font-family: crafty girls, cursive;
    color: var(--bl);
    background-color: #F5E082;
    width: 80rem;
    padding: 1%;
    margin: auto;
    margin-top: 4rem;
    border-radius: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1rem auto;
    gap: 1rem;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--negro);
    font-family: Comfortaa;
    background-color: var(--amarillo);
    border-radius: 2rem;
    margin: 0 auto;
    width: 100%;
    padding: 2%;
    text-align: center;
}

nav a:hover{
    background-color: var(--rosita);
}

nav a, span, .material-symbols-outlined, .bi.bi-water {
    align-content: center;
    align-items: center;
}

.bi.bi-water{
    font-size: 1.5rem;
}
nav a .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  font-size: 1.5rem;
}

nav a:hover .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1;
}

#desc {
    text-align: center;
}

#desc h2 {
    font-family: comfortaa, sans-serif;
    color: var(--viridian);
    font-size: 2.5rem;
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#ranitas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5%;
}
@keyframes croac {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    75% {transform: scale(0.95);}
    100% {transform: scale(1);}
}

#ranitas > img {
    border-radius: 10rem;
    animation-name: croac;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.49,.15,.02,.97);
    height: 15rem;
}

#ranitas > img:target {
    border: 1rem solid var(--blanco);
}

.donar {
    text-align: center;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donar h2, label, button, input {
    color: var(--negro);
    font-family: comfortaa, sans-serif;
}

.donar input {
    border-radius: 2rem;
    border: .1rem solid var(--negro);
    padding: .2rem
}

.donar input:focus {
    background-color: var(--rosita);
}

.donar button {
    background-color: var(--rosita);
    border-radius: 2rem;
    border: .1rem solid var(--negro);
    padding: .5rem
}

.donar button:hover {
    background-color: var(--viridian);
    color: var(--amarillo);
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer #frog {
    display: none;
}
footer #frog img {
    filter: contrast(125%) saturate(150%) brightness(120%) drop-shadow(0 0 1rem var(--amarillo));
    width: 10rem;

}

@keyframes ranitawi {
    to {transform: rotate(360deg);}
}

footer a {
    color: var(--negro);
    text-decoration: none;
}

footer #frog:target {
    display: block;
    width: 10rem;
    animation-name: ranitawi;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@media (max-width: 350px) {
    main {
        width: 25rem;
    }
    header {
        width: 46rem;
        font-size: 4rem;
    }
    nav a {
        width: 100%;
        font-size: 2rem;
    }
    footer img {
        width: 7rem;
    }
}
@media (max-width: 512px) {
    main {
        width: 28rem;
    }
    header {
        width: 26rem;
        font-size: 3.6rem;
    }
    nav {
        width: 90%;
    }
    #ranitas > img {
        height: 7rem;
    }
}