/* Estilos bonitos con Isita y Saray ♥ */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Crafty+Girls&display=swap");

:root{
    --rosado: #fdd3cc;
    --amarillo: #F5E082;
    --verdeagua: #BAFFDF;
    --esmeralda: #6EC188;
    --viridian: #105e45;
    --negro: #252525;
}

body{
    font-size: 62,5%;
    background-color: var(--verdeagua);
    box-sizing: border-box;
}

main {
    background-color: var(--esmeralda);
    width: 100rem;
    height: max-content;
    margin: 0.8rem auto;
    padding-bottom: 40rem;
    padding-top: .1%;
    border-radius: 2rem;
}

header{
    text-align: center;
    font-family: crafty girls, cursive;
    color: var(--bl);
    background-color: #F5E082;
    width: 80rem;
    padding: 1%;
    margin: auto;
    margin-top: 4rem;
    border-radius: 2rem;
}

header h1{
    font-size: 5rem;
}

#sub{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-left: 4rem;
}

#parrafoSub{
    text-align: center;
    font-size: 1.2rem;
}

#ranita{
    border-radius: 5rem;
    width: 18rem;
    margin-left: 43rem;
 
    
}

nav h1 {
    text-align: center;
    margin: auto;
    font-size: 4rem;
    color: var(--viridian);
}

nav a {
    background-color: var(--rosado);
    border-radius: 2rem;
    font-size: 3rem;
    margin-left: 45rem;
    font-family: crafty girls, cursive;
    text-decoration: none;
    color: var(--negro);
}

a:hover {
    color: var(--verdeagua);
}


@media (max-width: 1024px) {
    main {
        width: 62rem;
    }
    header {
        width: 60rem;
        font-size: 5rem;
    }
    nav {
        width: 100%;
        font-size: 1rem;
    }
    nav h1 {
        font-size: 4rem;
    }
    nav a {
        margin-left: 23rem;
    }
}

@media (max-width: 768px) {
    main {
        width: 45rem;
        margin-left: 4rem;
    }
    header {
        width: 36rem;
    }
    header h1 {
        font-size: 4rem;
    }
    nav {
        width: 100%;
    }
    nav a {
        font-size: 3rem;
    }
}

@media (max-width: 512px) {
    main {
        width: 32rem;
        margin-left: 2rem;
    }
    header {
        width: 30rem;
    }
    header h1 {
        font-size: 4rem;
    }
    nav a {
        font-size: 3rem;
        margin-left: 9rem;
    }
    #ranita {
        margin-left: 7rem;
    }
}


@media (max-width: 320px) {
    main {
        width: 20rem;
        margin-left: .5rem;
    }
    header {
        width: 19rem;
    }
    header h1{
        font-size: 3.6rem;
    }
    nav a {
        font-size: 3rem;
        margin-left: 3.5rem;
    }
    #ranita {
        margin-left: 3rem;
    }
}
