/* Estilos bonitos con Isita y Saray ♥ */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Crafty+Girls&display=swap");

:root{
    --rosado: #fdd3cc;
    --amarillo: #F5E082;
    --verdeagua: #BAFFDF;
    --esmeralda: #6EC188;
    --viridian: #2A7F62;
    --negro: #252525;
}

body{
    font-size: 62,5%;
    background-color: var(--verdeagua);
    box-sizing: border-box;
}

main {
    background-color: var(--esmeralda);
    width: 100rem;
    height: max-content;
    margin: 0.8rem auto;
    padding-bottom: 40rem;
    padding-top: .1%;
    border-radius: 2rem;
}

header{
    text-align: center;
    font-family: crafty girls, cursive;
    color: var(--bl);
    background-color: #F5E082;
    width: 80rem;
    padding: 1%;
    margin: auto;
    margin-top: 4rem;
    border-radius: 2rem;
}

header h1{
    font-size: 5rem;
}

#sub{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}






